.top-550 {
  top: 2.75rem;
}

.margin-right-1025 {
  margin-right: 0.625rem;
}

.maxh-38 {
  max-height: 19rem;
}

.maxh-6205 {
  max-height: 31.25rem;
}

.minw-1605 {
  min-width: 8.25rem;
}

.minw-1705 {
  min-width: 8.75rem;
}

.minw-20 {
  min-width: 10rem;
}

.minw-23 {
  min-width: 11.5rem;
}

.minw-2305 {
  min-width: 11.75rem;
}

.minw-28 {
  min-width: 14rem;
}

.minw-40 {
  min-width: 20rem;
}

.width-11075 {
  width: 5.875rem;
}

.width-20 {
  width: 10rem;
}

.width-28 {
  width: 14rem;
}

.width-38 {
  width: 19rem;
}

.width-40 {
  width: 20rem;
}

.width-4305 {
  width: 21.75rem;
}

.width-62 {
  width: 31rem;
}

.width-25p {
  width: 25%;
}

.padding-top-1-25 {
  padding-top: 0.625rem;
}

.visibility-hidden {
  visibility: hidden;
}

.gutter-3:nth-child(1) {
  margin-top: inherit;
}
.gutter-3 {
  margin-top: 1.5rem;
}

.gap-05 {
  gap: 0.25rem;
}

.gap-1 {
  gap: 0.5rem;
}

.gap-105 {
  gap: 0.75rem;
}
